<%= form_with(model: todo_item, local: true) do |form| %>
  <% if todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.text_field :due_date, id: :todo_item_due_date %>
  </div>

  <div class="field">
    <%= form.label :task_title %>
    <%= form.text_field :task_title, id: :todo_item_task_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :todo_item_description %>
  </div>

  <div class="field">
    <%= form.label :done unless @todo_item.new_record? %>
    <%= form.check_box :done, id: :todo_item_done, checked: todo_item.done unless @todo_item.new_record? %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
