<p id="notice"><%= notice %></p>

<p>
  <strong>Due date:</strong>
  <%= @todo_item.due_date %>
</p>

<p>
  <strong>Task title:</strong>
  <%= @todo_item.task_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<p>
  <strong>Completion Status:</strong>
  <%= @todo_item.done? ? 'Completed' : 'Not Completed' %>
 </p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_lists_path %>
